.brands {
  padding-top: 70px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
  height: 168px;
  background: #f4f4f4;
  border-radius: 16px;
}

.item img {
  width: 100px;
  object-fit: cover;  
}
